*~
\#*\#
*.vspx
*.psess
*.suo
*.smt2
*.sav
cache/
/VS/packages

/src/parser/parse.fs
/src/parser/parse.fsi
/src/parser/lex.fs
/src/parser/parse.ml
/src/parser/parse.mli
/src/parser/parse.mly


/bin/*.dll
/bin/*.pdb
/bin/*.mdb
/bin/*.xml
/bin/*.config
/bin/fstar.exe
/bin/tests.exe
/bin/z3.exe
/bin/z3-x86.exe
/bin/z3-x64.exe
/src/*/obj

examples/*/*.ml

_build/

*.native*
*.byte*

queries*.smt2
transcript
dump

*.cmi
*.cmo
*.cmx
*.o

.depend
*.a
*.cmxa
*.so

src/**/bin/Release/*
    
# ===================================================
# Exclude F# project specific directories and files
# ===================================================

# NuGet Packages Directory
packages/

# Generated documentation folder
docs/output/

# Temp folder used for publishing docs
temp/

# Test results produced by build
TestResults.xml

# Nuget outputs
nuget/*.nupkg
release.cmd
release.sh
localpackages/
paket-files
*.orig
.paket/paket.exe
docs/content/license.md
docs/content/release-notes.md
.fake
bin/**
